<section class="flex layout-scroll">
	<article ng-repeat="group in groups">
		<h2 ng-bind="getGroupName(group)"></h2>

		<!-- <hot-table data="group.$hot.data" ng-if="group.$hot.settings" settings="group.$hot.settings"></hot-table> -->

		<div class="flex-row">
			<table class="margin-sm" border="1" ng-if="scores.$$loaded">
				<tr>
					<th>&nbsp;</th>
					<th ng-repeat="dance in group.$dances" ng-bind="dance.name"></th>
				</tr>
				<tr ng-repeat="(dancerId, dancer) in group.$dancers">
					<td ng-bind="dancer.number"></td>
					<td ng-repeat="dance in group.$dances" ng-init="value = scores.$getRecord(group.$id +'/'+ dance.$id +'/'+ dancerId)">
						<input type="number" ng-model="value" min="0" max="100" ng-change="saveScore(group.$id, dance.$id, dancerId, value)" />
					</td>
				</tr>
			</table>
		</div>
	</article>
</section>