# Cordova
/www/
/platforms/
/plugins/
/public/cordova.js

# Vue defaults
.DS_Store
node_modules
dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Custom
info.txt
*.log
*.keystore
.firebase
.runtimeconfig.json
firebase-adminsdk.json
/public/version.json
