# Capacitor
.gradle

# Vue defaults
.DS_Store
node_modules
dist

# local env files
**/*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln

# Custom
*.log
*.keystore
*.pepk
.firebase/
.runtimeconfig.json
firebase-adminsdk.json
.typesense/
/web/stats.html
*.profraw
