<section ng-controller="CompetitionsCtrl" class="flex flex-row flex-nowrap layout-scroll">
	<aside class="padding-sm bg-lighter layout-scroll">
		<div class="flex-column">
			<a ng-repeat="comp in competitions" ui-sref="competition({competitionId: comp.$id, section: 'info'})" ng-bind="comp.name"></a>
		</div>
	</aside>
	<section ng-if="$state.params.competitionId" class="flex flex-column layout-scroll">
		<header class="bg-accent">
			<div class="flex-row margin-sm">
				<a ui-sref="competition({section: 'info'})" ui-sref-active="active" class="btn">Info</a>
				<a ui-sref="competition({section: 'dancers'})" ui-sref-active="active" class="btn">Dancers</a>
				<a ui-sref="competition({section: 'dances'})" ui-sref-active="active" class="btn">Dances</a>
				<a ui-sref="competition({section: 'platforms'})" ui-sref-active="active" class="btn">Platforms</a>
			</div>
		</header>
		<section class="flex flex-column layout-scroll" ui-view></section>
	</section>
</section>