// includes
@import url("var.inc.less");
@import url("glyph.inc.less");

// tags
body {
	background: @lightest;
	color: @darkest;
	font: 300 16px/20px @font;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	text-transform: uppercase;
}

// classes

// sections
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
	
	#nav {
		.grid-table;
		min-height: @hh;
		
		a {
			color: inherit;
			padding: 0 @u;
		}
		.logo {
			width: 1%;
		}
		.separator {
			width: 100%;
		}
		.handle {
			display: none;
			min-width: @hh;
		}
		#menu {
			white-space: nowrap;
			
			a {
				display: block;
			}
		}
	}
	+ * {
		margin-top: @hh;
	}
	@media (max-width: @mobile) {
		user-select: none;
		
		#nav {
			padding-right: 0;
			
			.handle {
				display: table-cell;
			}
			#menu {
				.bg-lightest;
				display: none;
				position: fixed;
				top: @hh;
				right: 0;
				padding: @u*2 0 @u*4;
				overflow: auto;
				
				> * {
					display: block;
				}
				a {
					font-size: 1.2em;
					padding: @u @u*4;
				}
				&.toggled {
					display: block;
				}
			}
		}
	}
}