// includes
@import url("boilerplate.inc.less");

// tags
body {
	background: @lightest;
	color: @darkest;
	font: 300 16px/20px @font;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	text-transform: uppercase;
}

// classes

// sections
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	
	#nav {
		min-height: @hh;
		
		#menu {
			white-space: nowrap;
			
			a {
				display: block;
			}
		}
	}
}