<section class="flex layout-scroll">
	<table class="margin-sm">
		<tr>
			<td>Name</td>
			<td><input type="text" ng-model="competition.name" class="input" /></td>
		</tr>
		<tr>
			<td>Location</td>
			<td><input type="text" ng-model="competition.location" class="input" /></td>
		</tr>
		<tr>
			<td>Start Date</td>
			<td><input type="date" ng-model="competition.date" class="input" /></td>
		</tr>
		<tr>
			<td>End Date</td>
			<td><input type="date" ng-model="competition.end" class="input" /></td>
		</tr>
		
		<tr ng-repeat="section in sections track by section.$id">
			<td ng-bind="section.name"></td>
			<td><span class="num" ng-bind="competitionData[section.$id] | length"></span></td>
		</tr>
	</table>
</section>
<footer class="bg-light">
	<div class="flex-row flex-justify-between margin-sm">
		<button ng-click="competition.$save()">Save</button>
	</div>
</footer>