<div class="flex flex-row flex-nowrap layout-scroll">
	<section class="flex flex-row" style="width: 66.66%;">
		<div class="flex" style="width: 100%; overflow: hidden;">
			<hot-table ng-if="settings" settings="settings" datarows="hot.data"></hot-table>
		</div>
	</section>
	<aside ng-if="helperHot" class="flex-row bg-lighter" style="width: 33.33%;">
		<div class="flex" style="width: 100%; overflow: hidden;">
			<hot-table settings="helperHot.settings" datarows="helperHot.data"></hot-table>
		</div>
	</aside>
	<aside ng-if="showColumns" class="bg-light layout-scroll">
		<pre ng-bind="settings.columns | json"></pre>
	</aside>
</div>
<footer class="bg-light">
	<div class="flex-row flex-justify-between margin-sm">
		<div>
			<button ng-disabled=" ! hot.dirty()" ng-click="hot.save()">Save</button>
			<button ng-if="hot.revisions > 1" ng-click="hot.refresh()">Refresh</button>
		</div>
<!--
		<div>
			<button ng-show=" ! showColumns" ng-click="showColumns = true">Edit Columns</button>
			<button ng-show="showColumns" ng-click="showColumns = false">Save Columns</button>
			<button ng-show="showColumns" ng-click="showColumns = false">Cancel</button>
		</div>
-->
	</div>
</footer>