VITE_FIREBASE_API_KEY=AIzaSyCxvA2RMvlCQ3WCzAqPotD8IOhnmCtQ1xM
VITE_FIREBASE_AUTH_DOMAIN=scotdance.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://scotdance.firebaseio.com
VITE_FIREBASE_PROJECT_ID=firebase-scotdance
VITE_FIREBASE_STORAGE_BUCKET=firebase-scotdance.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=635645850119
VITE_FIREBASE_APP_ID=1:635645850119:web:96255e79df76024e0e70a2
VITE_FIREBASE_MEASUREMENT_ID=G-SFLYLX3P6L
VITE_FIREBASE_DATA_NAMESPACE=production
